{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile Card</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>
    <div class="profile-card">
        <div class="image">
            <img src="{% static 'image/profile.jpg' %}" alt="" class="profile-img">
        </div>
        <div class="text-data">
            <span class="name">Aditya Kiran Pal</span>
            <span class="job">Software Developer & NITA Student</span>
        </div>

        <div class="info">
            <span class="enrollment">Enrollment No: 20UCS119</span>
            <span class="enrollment">Section: A</span>
        </div>

        <div class="media-buttons">
            <a href="#" class="link">
                <i class='bx bxs-phone'></i>
            </a>
            <a href="mailto:suggi.aditya@gmail.com" class="link">
                <i class='bx bxl-gmail'></i>
            </a>
            <a href="https://github.com/keraskp" class="link">
                <i class='bx bxl-github'></i>
            </a>
            <a href="https://www.linkedin.com/in/aditya-kiran-pal-a35b7a1ba" class="link">
                <i class='bx bxl-linkedin-square'></i>
            </a>
        </div>
    </div>
</body>

</html>